body {
  background-color: #F4C430;
}


.thunder {
 border: thick yellow solid;
 margin: 0 auto;
 width: 100%;
}

.kevin {
  width: 100%;
  position: relative;
}

#title{
  color: brown;
  font: 400 15em/1.3 'Arizonia', Helvetica, sans-serif;
 text-align: center;
}

.achievements {
 position: absolute;
 color: darkblue;
 font-family: serif;
 font-size: 20px;
 top: 10px
}


ul {
  /* position: absolute; */
  top: 2.5em;
  left: 1em;
}


.banner {
  width: 100%;
}

 p {
   color: brown;
   font-family: serif;
   font-size: 20px;
}
